*{
  margin: 0;
  padding: 0;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row{
  margin-right: 0;
  margin-left: 0;
}
.col-md-12, .col-sm-12{
  padding-left: 0;
  padding-right: 0;
}
img{
  width: 100%;
}
#quiz{
  padding:0 20px;
}
p{
  font-weight: 800;
}
